	
		<footer style="background: gray;" class="footer mt-5 py-3">
		  <div class="container">
		  	
		    <span style="color: white">&copy; 2021 Developed by <a style="color: white" href="https://www.freelancer.com/u/ahmedelselly87">Ahmed Elselly</a>.</span>
		  </div>
		</footer>
    	<script src="https://cdn.ckeditor.com/4.13.1/standard/ckeditor.js"></script>

		<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js" integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ==" crossorigin="anonymous"></script>
		<script type="text/javascript" src="/javascripts/byCategory.js"></script>
		<script type="text/javascript" src="/javascripts/ckEditor.js"></script>

	</body>
</html>
